body {
    margin: 0;
    padding: 0;
    
}

h1, h2, h3, h4, h5,h6, p {
    margin: 0;
    padding: 0;;
}

:root {
    --blackColor: #4D533C;
    --yellowColor: #FFD723;
}

.container {
    background: url(../img/Slider.jpg) no-repeat;
    height: 1015px;
    background-size: 100%;
}

.headerFlex {
    display: flex;
    justify-content: space-between;
}

.headerFlexItem {
    margin: 30px 200px;
}

.headerLogoBtn {
    background: none;
    border: none;
    display: flex;
}

.headerLogo {
    margin-right: 10px;
    cursor: pointer;
}

.headerLogoP {
    cursor: pointer;
    margin-top: -18px;
    font-family: 'Poppins';
    font-size: 44px;
    font-weight: bold;
    color: white;
}

.burger {
    background-color: #F5F6F7;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    border: none;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bugrerLine {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #000;
    margin-bottom: 4px;
}

.firstPageContainer {
    margin-top: 131px;
    margin-left: 200px;
    width: 616px;
}

.firstPageGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.firstPageP {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 22px;
    line-height: 21px;
}

.firstPageH2 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin-bottom: 24px;
    line-height: 74px;
}

.firstPageSecondP {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.firstPageBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.firstPageBtnText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--yellowColor);
}

.firstPageSpan {
    text-decoration: underline;
}

.services {
    margin-top: 140px;
    margin-bottom: 100px;
}

.servicesContainer {
    width: 1400px;
    margin: 0 auto;
}

.servicesH2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: var(--blackColor);
    width: 607px;
}

.servicesGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.servicesGridItem {
    margin-top: 60px;
    width: 255px;
}

.servicesItemH2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: var(--blackColor);
    width: 183px;
    margin-bottom: 20px;
}

.servicesItemP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    width: 194px;
    height: 104px;
    margin-bottom: 30px;
}

.servicesItemBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.servicesItemBtnP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;    
    color: #D4D6D4;

}

.servicesItemBtnP:hover {
    color: var(--yellowColor);
}

.servicesItemBtnSpan {
    text-decoration: underline;
}

.getStarted {
    position: relative;
    top: 160px;
    background-color: #FAFAFA;
    height: 362px;
    width: 1275px;
}

.getStartedH2 {
    color: var(--blackColor);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    width: 822px;
    padding: 70px 289px 50px 164px;
} 

.getStartedBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding-left: 164px;
}

.getStartedBtnP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;    
    color: #D4D6D4;
    text-transform: uppercase;
}

.getStartedBtnP:hover {
    color: var(--yellowColor);
}

.getStartedBtnSpan {
    text-decoration: underline;
}

.footer {
    background: url(../img/footerBG.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 920px;
}

.footerContainer {
    padding-top: 350px;
}

.footerTopGrid {
    width: 452px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 212px;
    margin-bottom: 52px;
}

.footerTopP {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    margin-bottom: 8px;
}

.footerTopNumber {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.footerTopAddress {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

.footerMiddleGrid {
    border-top: 2px solid #5D6544;
    border-bottom: 2px solid #5D6544;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footerTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 21px;
}

.footerMiidleList {
    width: 160px;
    padding: 0;
}

.footerMiidleLi {
    list-style-type: none;    
}

.footerMiddleLink {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
    text-decoration: none;
}

.footerMiddleLink:hover {
    color: var(--yellowColor);
}

.footerMiddleText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
    width: 270px;
    margin-bottom: 23px;
}

.footerMiidleEmail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.mediaGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 200px;
}

.media {
    margin-top: 33px;
    
}
